.contain {
    position: relative;
    width: 800px;
    height: 400px;
    margin: auto;
}
.container {
    width: 100%;
    height: 100%;
    background: grey;
    overflow: hidden;
    position: relative;
    touch-action: auto;
}
.base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    transform-origin: left top;
    display: flex;
    z-index: 1;
}
  
.button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.button span {
    cursor: pointer;
    display: flex;
    width: 24px;    
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 12px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.element {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background: blue;
    margin: 10px;
    display: inline-block;
    zoom: 1;
}
  
.container2 {
    height: 1000px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    display: inline-block;
    width: fit-content;
    cursor: pointer;
}

@media (max-width: 767px) {
    .container {
        overflow: auto;
    }
}